include ../../mixins/_global-mixins.pug

.vlt-section__vertical-align

	.vlt-section__content

		//Ken Burn Effect
		.vlt-section__ken-burn-background

			img(src='assets/img/attachment-02.jpg', alt='')

		.container

			.row

				.col-lg-10.offset-lg-1

					+vlt_animation_block

						.d-block.d-md-flex.align-items-center.justify-content-between

							h1.has-white-color Experience

							.vlt-gap-30--sm

							.vlt-timeline-slider-controls
								span.prev 🡐
								span.pagination
								span.next 🡒

					.vlt-gap-50

					+vlt_animation_block({
						delay: '100ms'
					})

						+vlt_timeline_slider

							div

								+vlt_timeline_slider_item({
									year: '2021 - Now',
									title: 'Orkeis',
									text: 'Full-stack developer. I develop web tools and applications for a lot of different clients especially in industry, logistic, administrations etc...'
								})

								+vlt_timeline_slider_item({
									year: '2019-2021',
									title: 'Intervalles',
									text: 'Full-stack developer, server maintenance and deployment. My missions consisted of maintaining the many websites of the company and ensuring their deployment and accessibility.'
								})

								+vlt_timeline_slider_item({
									year: '2019',
									title: 'Settled - United Kingdom',
									text: 'Landing website development for Settled charity, specialized in advising and supporting people in difficulties because of the Brexit.'
								})


							div
								+vlt_timeline_slider_item({
									year: '2018',
									title: 'Viaduc',
									text: 'Accounting tools development, company\'s CMS improvement and upgrade.'
								})

								+vlt_timeline_slider_item({
									year: '2017',
									title: 'Kaliconseil',
									text: 'Landing website development for KS2 brand'
								})

								+vlt_timeline_slider_item({
									year: '2015-2016',
									title: 'Technitoit Headquarter',
									text: 'Java & Android learning, mobile development.'
								})

					.vlt-gap-50

					//+vlt_animation_block({
						//delay: '200ms'
					//})

						//+vlt_button({
						//	title: 'Download Resume',
						//	icon: '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><polyline points="19 12 12 19 5 12"></polyline></svg>',
						//	link: '/assets/files/Teo Conan - cv.pdf'
						//})
