include ../../mixins/_global-mixins.pug

.vlt-section__vertical-align

	.vlt-section__content

		//Particles
		.vlt-section__particles

			.vlt-particle.vlt-custom--1259.vlt-fade-in-right(style='background-image: url(assets/img/root/plus-light-pattern.png); animation-delay: 750ms;')
			.vlt-particle.vlt-custom--2355.vlt-fade-in-left(style='background-image: url(assets/img/root/elipse-light.png); animation-delay: 500ms;')

		.container

			.row

				.col-lg-2.offset-lg-1.d-none.d-lg-block

					+vlt_animation_block

						+vlt_counter_up({
							value: '6',
							suffix: '+',
						})

						.vlt-gap-40

						h6 Years #[br]Experience #[br]Working

				.col-lg-8.col-md-12

					+vlt_animation_block({
						delay: '100ms'
					})

						h4 Full Stack Developper, very polyvalent on #[span.has-first-color all steps].

					.vlt-gap-70

					.row

						.col-md-6

							+vlt_animation_block({
								delay: '300ms'
							})

								+vlt_services({
									title: 'Front-end Development',
									text: 'Du back-end d\'une API à la confection de modèles, la polyvalence de mon experience me permet de travailler à de nombreux niveaux technique dans la conception d\'une application web.',
									link: '#',
								})

							.vlt-gap-40

						.col-md-6

							+vlt_animation_block({
								delay: '300ms'
							})

								+vlt_services({
									title: 'Back-end Development',
									text: 'Responsive design, mobile first, optimisation du client, fluidité de l\'UX... Tous ces principes sont important à mes yeux et requière toute mon attention.',
									link: '#',
								})

							.vlt-gap-40

						.col-md-6

							+vlt_animation_block({
								delay: '300ms'
							})

								+vlt_services({
									title: 'System Administration',
									text: 'Concevoir une application, c\'est bien, l\'exécuter dans son environnement de production, c\'est encore mieux ! Étant un grand utilisateur de Linux, le maniement des serveur Linux m\'est loin d\'être inconnu...',
									link: '#',
								})

							.vlt-gap-40

						.col-md-6

							+vlt_animation_block({
								delay: '200ms'
							})

								+vlt_services({
									title: 'Web Design',
									text: 'L\'art est quelque chose de très important pour moi. Et selon moi, je me dois d\'émerveiller les utilisateurs qui utilisent mes applications.',
									link: '#',
								})

							.vlt-gap-40--sm