include ../../mixins/_global-mixins.pug

.vlt-section__vertical-align

	.vlt-section__content

		//Particles
		.vlt-section__particles

			.vlt-particle.vlt-custom--1259.vlt-fade-in-right(style='background-image: url(assets/img/root/plus-light-pattern.png); animation-delay: 750ms;')
			.vlt-particle.vlt-custom--2355.vlt-fade-in-left(style='background-image: url(assets/img/root/elipse-light.png); animation-delay: 500ms;')

		.container

			.row

				.col-lg-2.offset-lg-1.d-none.d-lg-block

					+vlt_animation_block

						+vlt_counter_up({
							value: '3',
							suffix: '+',
						})

						.vlt-gap-40

						h6 Years #[br]Experience #[br]Working

				.col-lg-8.col-md-12

					+vlt_animation_block({
						delay: '100ms'
					})

						h4 Full Stack Developper, very polyvalent on #[span.has-first-color all steps].

					.vlt-gap-50

					.row

						.col-md-6

							+vlt_animation_block({
								delay: '300ms'
							})

								+vlt_services({
									title: 'Front-end Development',
									text: 'From back-end of an API to models development, the versatility of my experiences allows me to work at many technical levels in a web application project.',
									link: '',
								})

							.vlt-gap-60

						.col-md-6

							+vlt_animation_block({
								delay: '300ms'
							})

								+vlt_services({
									title: 'Back-end Development',
									text: 'Responsive design, mobile first, client software optimization, UX fluidity... All of these principles are important to me and require my attention.',
									link: '',
								})

							.vlt-gap-60

						.col-md-6

							+vlt_animation_block({
								delay: '300ms'
							})

								+vlt_services({
									title: 'System Administration',
									text: 'Designing an application, that\'s great. Be able to run it in a production environment, it\'s better ! I love Linux, that\'s why I enjoy working on servers.',
									link: '',
								})

							.vlt-gap-60

						.col-md-6

							+vlt_animation_block({
								delay: '200ms'
							})

								+vlt_services({
									title: 'Web Design',
									text: 'Art is something very important to me. And in my opinion, I have to amaze all users who use my applications.',
									link: '',
								})

							.vlt-gap-60--sm