//Fixed Socials
if FixedSocials == 'show'

	.vlt-fixed-socials

		a(href='https://www.linkedin.com/in/teo-conan/', target='_blank') Lk.
		a(href='https://www.instagram.com/teo.sansh/', target='_blank') In.
		a(href='https://devolution.studio', target='_blank') Ds.